In [1]:
#Importing dependencies
import pandas as pd
import numpy as np

In [2]:
#Creating file paths for 2019-2021 
file2019_1 = ("Resources/Original/JC-201901-citibike-tripdata.csv")
file2019_2 =("Resources/Original/JC-201902-citibike-tripdata.csv")
file2019_3 =("Resources/Original/JC-201903-citibike-tripdata.csv")
file2019_4 = ("Resources/Original/JC-201904-citibike-tripdata.csv")
file2019_5 = ("Resources/Original/JC-201905-citibike-tripdata.csv")
file2019_6 = ("Resources/Original/JC-201906-citibike-tripdata.csv")
file2019_7 = ("Resources/Original/JC-201907-citibike-tripdata.csv")
file2019_8 = ("Resources/Original/JC-201908-citibike-tripdata.csv")
file2019_9 = ("Resources/Original/JC-201909-citibike-tripdata.csv")
file2019_10 = ("Resources/Original/JC-201910-citibike-tripdata.csv")
file2019_11 = ("Resources/Original/JC-201911-citibike-tripdata.csv")
file2019_12 = ("Resources/Original/JC-201912-citibike-tripdata.csv")
file2020_1 = ("Resources/Original/JC-202001-citibike-tripdata.csv") 
file2020_2 = ("Resources/Original/JC-202002-citibike-tripdata.csv")
file2020_3 = ("Resources/Original/JC-202003-citibike-tripdata.csv")
file2020_4 = ("Resources/Original/JC-202004-citibike-tripdata.csv")
file2020_5 = ("Resources/Original/JC-202005-citibike-tripdata.csv")
file2020_6 = ("Resources/Original/JC-202006-citibike-tripdata.csv")
file2020_7 = ("Resources/Original/JC-202007-citibike-tripdata.csv")
file2020_8 = ("Resources/Original/JC-202008-citibike-tripdata.csv")
file2020_9 = ("Resources/Original/JC-202009-citibike-tripdata.csv")
file2020_10 = ("Resources/Original/JC-202010-citibike-tripdata.csv")
file2020_11 = ("Resources/Original/JC-202011-citibike-tripdata.csv")
file2020_12 = ("Resources/Original/JC-202012-citibike-tripdata.csv")
# file2021_1 = ("Resources/JC-202101-citibike-tripdata.csv")
# file2021_2 = ("Resources/JC-202102-citibike-tripdata.csv")
# file2021_3 = ("Resources/JC-202103-citibike-tripdata.csv")
# file2021_4 = ("Resources/JC-202104-citibike-tripdata.csv")
# file2021_5 = ("Resources/JC-202105-citibike-tripdata.csv")

In [3]:
#Reading the 2019 files to jupyterlabNotebook
df2019_1 = pd.read_csv(file2019_1)
df2019_2 = pd.read_csv(file2019_2)
df2019_3 = pd.read_csv(file2019_3)
df2019_4 = pd.read_csv(file2019_4)
df2019_5 = pd.read_csv(file2019_5)
df2019_6 = pd.read_csv(file2019_6)
df2019_7 = pd.read_csv(file2019_7)
df2019_8 = pd.read_csv(file2019_8)
df2019_9 = pd.read_csv(file2019_9)
df2019_10 = pd.read_csv(file2019_10)
df2019_11 = pd.read_csv(file2019_11)
df2019_12 = pd.read_csv(file2019_12)
#Reading the 2020 files to jupyterlabNotebook
df2020_1 = pd.read_csv(file2020_1)
df2020_2 = pd.read_csv(file2020_2)
df2020_3 = pd.read_csv(file2020_3)
df2020_4 = pd.read_csv(file2020_4)
df2020_5 = pd.read_csv(file2020_5)
df2020_6 = pd.read_csv(file2020_6)
df2020_7 = pd.read_csv(file2020_7)
df2020_8 = pd.read_csv(file2020_8)
df2020_9 = pd.read_csv(file2020_9)
df2020_10 = pd.read_csv(file2020_10)
df2020_11 = pd.read_csv(file2020_11)
df2020_12 = pd.read_csv(file2020_12)
#Reading the 2021 files to jupyterlabNotebook
# df2021_1 = pd.read_csv(file2021_1)
# df2021_2 = pd.read_csv(file2021_2)
# df2021_3 = pd.read_csv(file2021_3)
# df2021_4 = pd.read_csv(file2021_4)
# df2021_5 = pd.read_csv(file2021_5)

In [4]:
#combing the df per year first (2019)
frames = [df2019_1,
df2019_2,
df2019_3,
df2019_4,
df2019_5,
df2019_6,
df2019_7,
df2019_8,
df2019_9,
df2019_10,
df2019_11,
df2019_12,
]
df2019 = pd.concat(frames)
df2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [5]:
compression_opts5 = dict(method='zip',
                        archive_name='OGYear2019.csv')  
df2019.to_csv('Resources/zip/OG2019.zip', index=False,
          compression=compression_opts5)

In [5]:
#Splitting the df's date and start time 
df2019[['Start_Date','Start_Time']] = df2019.starttime.str.split(" ", expand=True)
df2019[['End_Date','End_Time']] = df2019.stoptime.str.split(" ", expand=True)
df2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Start_Date,Start_Time,End_Date,End_Time
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,2019-01-01,03:09:09.7110,2019-01-01,03:12:30.8790
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,2019-01-01,05:18:00.1060,2019-01-01,05:26:25.9050
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,2019-01-01,10:36:33.3400,2019-01-01,10:49:10.2600
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,2019-01-01,12:43:38.6430,2019-01-01,13:09:54.5280
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,2019-01-01,12:43:39.6010,2019-01-01,13:09:46.5100

In [6]:
#Delete extra columns
final2019df = df2019.drop(columns=['starttime', 'stoptime'])
final2019df.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Start_Date,Start_Time,End_Date,End_Time
0,201,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,2019-01-01,03:09:09.7110,2019-01-01,03:12:30.8790
1,505,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,2019-01-01,05:18:00.1060,2019-01-01,05:26:25.9050
2,756,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,2019-01-01,10:36:33.3400,2019-01-01,10:49:10.2600
3,1575,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,2019-01-01,12:43:38.6430,2019-01-01,13:09:54.5280
4,1566,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,2019-01-01,12:43:39.6010,2019-01-01,13:09:46.5100

In [7]:
#Shifiting coumns to be in order 
one = final2019df.pop('End_Time')

final2019df.insert(1,'End_Time', one)

In [8]:
#Shifiting coumns to be in order 
two = final2019df.pop('Start_Time')

final2019df.insert(1,'Start_Time', two)

In [9]:
#Shifiting coumns to be in order 
three = final2019df.pop('End_Date')

final2019df.insert(1,'End_Date', three)

In [10]:
#Shifiting coumns to be in order 
four = final2019df.pop('Start_Date')

final2019df.insert(1,'Start_Date', four)

In [11]:
final_2019_df = final2019df.rename(columns={'tripduration':'Trip_Duration',
                        'start station id': 'Start_Station_Id', 
                        'start station name':'Start_Station_Name',
                        'start station latitude':'Start_Station_Latitude',
                        'start station longitude': 'Start_Station_Longitude',
                        'end station id':'End_station_Id',
                        'end station name':'End_Station_Name',
                        'end station latitude':'End_Station_Latitude',
                        'end station longitude': 'End_Station_Longitude',
                        'bikeid': 'Bike_Id',
                        'usertype': 'User_Type',
                        'birth year':'Birth_Year',
                        'gender':'Gender'
                       })
final_2019_df.head()

,Trip_Duration,Start_Date,End_Date,Start_Time,End_Time,Start_Station_Id,Start_Station_Name,Start_Station_Latitude,Start_Station_Longitude,End_station_Id,End_Station_Name,End_Station_Latitude,End_Station_Longitude,Bike_Id,User_Type,Birth_Year,Gender
0,201,2019-01-01,2019-01-01,03:09:09.7110,03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01,2019-01-01,05:18:00.1060,05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01,2019-01-01,10:36:33.3400,10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01,2019-01-01,12:43:38.6430,13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01,2019-01-01,12:43:39.6010,13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [6]:
#combing the df per year first (2020)
frames = [df2020_1,
df2020_2,
df2020_3,
df2020_4,
df2020_5,
df2020_6,
df2020_7,
df2020_8,
df2020_9,
df2020_10,
df2020_11,
df2020_12,
]
df2020 = pd.concat(frames)
df2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [7]:
compression_opts6 = dict(method='zip',
                        archive_name='OGYear2020.csv')  
df2020.to_csv('Resources/zip/OG2020.zip', index=False,
          compression=compression_opts6)

In [8]:
#Merging both full years togheter
fram = [df2019, df2020]
df12 = pd.concat(fram)
#Checking the final df 
df12

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
11690,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
11692,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
11693,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [ ]:
compression_opts7 = dict(method='zip',
                        archive_name='OGYear2019.csv')  
df2019.to_csv('Resources/zip/OG2019.zip', index=False,
          compression=compression_opts7)

In [13]:
#Splitting the df's date and start time 
df2020[['Start_Date','Start_Time']] = df2020.starttime.str.split(" ", expand=True)
df2020[['End_Date','End_Time']] = df2020.stoptime.str.split(" ", expand=True)
df2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Start_Date,Start_Time,End_Date,End_Time
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2,2020-01-01,00:04:50.1920,2020-01-01,00:08:37.0370
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2,2020-01-01,00:16:01.6700,2020-01-01,00:22:19.0800
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1,2020-01-01,00:17:33.8770,2020-01-01,00:22:22.4420
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0,2020-01-01,00:32:05.9020,2020-01-01,00:39:21.0660
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2,2020-01-01,00:46:19.6780,2020-01-01,00:50:11.3440

In [14]:
#Delete extra columns
final2020df = df2020.drop(columns=['starttime', 'stoptime'])
final2020df.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Start_Date,Start_Time,End_Date,End_Time
0,226,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2,2020-01-01,00:04:50.1920,2020-01-01,00:08:37.0370
1,377,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2,2020-01-01,00:16:01.6700,2020-01-01,00:22:19.0800
2,288,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1,2020-01-01,00:17:33.8770,2020-01-01,00:22:22.4420
3,435,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0,2020-01-01,00:32:05.9020,2020-01-01,00:39:21.0660
4,231,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2,2020-01-01,00:46:19.6780,2020-01-01,00:50:11.3440

In [15]:
#Shifiting coumns to be in order 
one = final2020df.pop('End_Time')

final2020df.insert(1,'End_Time', one)

In [16]:
#Shifiting coumns to be in order 
two = final2020df.pop('Start_Time')

final2020df.insert(1,'Start_Time', two)

In [17]:
#Shifiting coumns to be in order 
three = final2020df.pop('End_Date')

final2020df.insert(1,'End_Date', three)

In [18]:
#Shifiting coumns to be in order 
four = final2020df.pop('Start_Date')

final2020df.insert(1,'Start_Date', four)

In [19]:
final_2020_df = final2020df.rename(columns={'tripduration':'Trip_Duration',
                        'start station id': 'Start_Station_Id', 
                        'start station name':'Start_Station_Name',
                        'start station latitude':'Start_Station_Latitude',
                        'start station longitude': 'Start_Station_Longitude',
                        'end station id':'End_station_Id',
                        'end station name':'End_Station_Name',
                        'end station latitude':'End_Station_Latitude',
                        'end station longitude': 'End_Station_Longitude',
                        'bikeid': 'Bike_Id',
                        'usertype': 'User_Type',
                        'birth year':'Birth_Year',
                        'gender':'Gender'
                       })
final_2020_df.head()

,Trip_Duration,Start_Date,End_Date,Start_Time,End_Time,Start_Station_Id,Start_Station_Name,Start_Station_Latitude,Start_Station_Longitude,End_station_Id,End_Station_Name,End_Station_Latitude,End_Station_Longitude,Bike_Id,User_Type,Birth_Year,Gender
0,226,2020-01-01,2020-01-01,00:04:50.1920,00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01,2020-01-01,00:16:01.6700,00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01,2020-01-01,00:17:33.8770,00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01,2020-01-01,00:32:05.9020,00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01,2020-01-01,00:46:19.6780,00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [20]:
#Merging both full years togheter
final_frames = [df2019, df2020]
df = pd.concat(final_frames)
#Checking the final df 
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Start_Date,Start_Time,End_Date,End_Time
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,2019-01-01,03:09:09.7110,2019-01-01,03:12:30.8790
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,2019-01-01,05:18:00.1060,2019-01-01,05:26:25.9050
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,2019-01-01,10:36:33.3400,2019-01-01,10:49:10.2600
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,2019-01-01,12:43:38.6430,2019-01-01,13:09:54.5280
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,2019-01-01,12:43:39.6010,2019-01-01,13:09:46.5100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0,2020-12-31,23:07:44.0030,2020-12-31,23:36:54.4710
11690,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0,2020-12-31,23:18:00.2630,2020-12-31,23:43:19.8590
11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1,2020-12-31,23:31:09.4620,2021-01-01,00:00:31.3290
11692,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0,2020-12-31,23:35:45.4640,2020-12-31,23:46:22.7300
11693,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1,2020-12-31,23:48:34.5750,2021-01-01,00:15:22.3090

In [21]:
df1 = df.copy()

In [22]:
#Loading df into csvs for exploration 
#2019
compression_opts1 = dict(method='zip',
                        archive_name='Year2019.csv')  
final_2019_df.to_csv('Resources/zip/2019.zip', index=False,
          compression=compression_opts1)   
#2020
compression_opts2 = dict(method='zip',
                        archive_name='Year2020.csv')  
final_2020_df.to_csv('Resources/zip/2020.zip', index=False,
          compression=compression_opts2)

In [23]:
#Splitting the df's date and start time 
df1[['Start_Date','Start_Time']] = df1.starttime.str.split(" ", expand=True)
df1[['End_Date','End_Time']] = df1.stoptime.str.split(" ", expand=True)
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Start_Date,Start_Time,End_Date,End_Time
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,2019-01-01,03:09:09.7110,2019-01-01,03:12:30.8790
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,2019-01-01,05:18:00.1060,2019-01-01,05:26:25.9050
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,2019-01-01,10:36:33.3400,2019-01-01,10:49:10.2600
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,2019-01-01,12:43:38.6430,2019-01-01,13:09:54.5280
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,2019-01-01,12:43:39.6010,2019-01-01,13:09:46.5100

In [24]:
finaldf = df1.drop(columns=['starttime', 'stoptime'])
finaldf.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Start_Date,Start_Time,End_Date,End_Time
0,201,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,2019-01-01,03:09:09.7110,2019-01-01,03:12:30.8790
1,505,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,2019-01-01,05:18:00.1060,2019-01-01,05:26:25.9050
2,756,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,2019-01-01,10:36:33.3400,2019-01-01,10:49:10.2600
3,1575,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,2019-01-01,12:43:38.6430,2019-01-01,13:09:54.5280
4,1566,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,2019-01-01,12:43:39.6010,2019-01-01,13:09:46.5100

In [25]:
#Shifiting coumns to be in order 
one = finaldf.pop('End_Time')

finaldf.insert(1,'End_Time', one)

In [26]:
#Shifiting coumns to be in order 
two = finaldf.pop('Start_Time')

finaldf.insert(1,'Start_Time', two)

In [27]:
#Shifiting coumns to be in order 
three = finaldf.pop('End_Date')

finaldf.insert(1,'End_Date', three)

In [28]:
#Shifiting coumns to be in order 
four = finaldf.pop('Start_Date')

finaldf.insert(1,'Start_Date', four)

In [29]:
finaldf.head()

,tripduration,Start_Date,End_Date,Start_Time,End_Time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01,2019-01-01,03:09:09.7110,03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01,2019-01-01,05:18:00.1060,05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01,2019-01-01,10:36:33.3400,10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01,2019-01-01,12:43:38.6430,13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01,2019-01-01,12:43:39.6010,13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [30]:
finaldf.columns

Index(['tripduration', 'Start_Date', 'End_Date', 'Start_Time', 'End_Time',
       'start station id', 'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [31]:
final_df = finaldf.rename(columns={'tripduration':'Trip_Duration',
                        'start station id': 'Start_Station_Id', 
                        'start station name':'Start_Station_Name',
                        'start station latitude':'Start_Station_Latitude',
                        'start station longitude': 'Start_Station_Longitude',
                        'end station id':'End_station_Id',
                        'end station name':'End_Station_Name',
                        'end station latitude':'End_Station_Latitude',
                        'end station longitude': 'End_Station_Longitude',
                        'bikeid': 'Bike_Id',
                        'usertype': 'User_Type',
                        'birth year':'Birth_Year',
                        'gender':'Gender'
                       })
final_df.head()

,Trip_Duration,Start_Date,End_Date,Start_Time,End_Time,Start_Station_Id,Start_Station_Name,Start_Station_Latitude,Start_Station_Longitude,End_station_Id,End_Station_Name,End_Station_Latitude,End_Station_Longitude,Bike_Id,User_Type,Birth_Year,Gender
0,201,2019-01-01,2019-01-01,03:09:09.7110,03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01,2019-01-01,05:18:00.1060,05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01,2019-01-01,10:36:33.3400,10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01,2019-01-01,12:43:38.6430,13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01,2019-01-01,12:43:39.6010,13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [32]:
#Changing the types of the data frame
final_df[['Start_Date','End_Date']] = final_df[['Start_Date','End_Date']].apply(pd.to_datetime)

In [33]:
final_df.dtypes

Trip_Duration                       int64
Start_Date                 datetime64[ns]
End_Date                   datetime64[ns]
Start_Time                         object
End_Time                           object
Start_Station_Id                    int64
Start_Station_Name                 object
Start_Station_Latitude            float64
Start_Station_Longitude           float64
End_station_Id                      int64
End_Station_Name                   object
End_Station_Latitude              float64
End_Station_Longitude             float64
Bike_Id                             int64
User_Type                          object
Birth_Year                          int64
Gender                              int64
dtype: object

In [34]:
final_df.head()

,Trip_Duration,Start_Date,End_Date,Start_Time,End_Time,Start_Station_Id,Start_Station_Name,Start_Station_Latitude,Start_Station_Longitude,End_station_Id,End_Station_Name,End_Station_Latitude,End_Station_Longitude,Bike_Id,User_Type,Birth_Year,Gender
0,201,2019-01-01,2019-01-01,03:09:09.7110,03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01,2019-01-01,05:18:00.1060,05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01,2019-01-01,10:36:33.3400,10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01,2019-01-01,12:43:38.6430,13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01,2019-01-01,12:43:39.6010,13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [35]:
#final DF to CSV
compression_opts4 = dict(method='zip',
                        archive_name='Merged2019-2020.csv')  
final_df.to_csv('Resources/zip/final.zip', index=False,
          compression=compression_opts4)